.wide.column.a-s-c {
  align-self: center;
}

.margin-disabled {
  margin: 0;
}

.p-08 {
  padding: 0.8rem;
}

.header.mb-1.d-flex {
  display: flex;
  align-items: center;
}

.main-color {
  background-color: #f7f4f4;
}